* {
    margin: 0px;
    padding: 0px;

}

.banner {
    background-image: url('img/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    height: 100%;
    width: 1320px;
    border-radius: 16px;
    margin: 50px auto;
}


.banner_inside {
    color: white;
    text-align: center;
    padding: 200px 400px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 200px;
    border-radius: 16px;


}

.banner_inside>.newyr {

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner_inside>.newyrtxt {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* margin-top: 200px; */
}

.section1 {
    margin: 100px auto;
    display: block;
    justify-content: center;
    text-align: center;

}

.happynewyr>.off {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}

.happynewyr>.holiday {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;

    font-weight: 500;

}

.happynewyr>.category {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;

    font-weight: 700;

}

.holidayimg {
    /* height: 500px; */
    margin-top: 30px;
}

.section2 {
    margin: 120px auto;
    background-image: url("img/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;


}

.inside_section2 {
    padding: 100px 100px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 400px;
}

.welcome {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    width: 642px;
    letter-spacing: 7.04px;

}

.welcometext {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    width: 642px;
}

.btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid burlywood;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

.btn:hover {
    background-color: white;
    padding: 10px 20px;
    color: #070211;
    transition: 1s;

}

.nobo {
    padding-top: 80px;
    width: 319.83px;
    height: 464.662px;

}

.section3 {
    margin: 120px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    border-radius: 5px;
    background-position: center;
    width: 1320px;
    height: 482px;
}

.inside_section3 {
    text-align: center;
    padding: 100px;
    line-height: 20px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

    /* border: 2px solid black; */
}

.red {
    color: red;
}

.btn1 {
    background-color: red;
    padding: 10px 20px;
    border: 2px solid burlywood;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

.btn1:hover {
    background-color: white;
    padding: 10px 20px;
    color: #070211;
    transition: 1s;

}

.section4 {
    width: 1320px;
    /* justify-content: space-between; */
    display: flex;
    gap: 70px;
    padding: 20px 100px;
    line-height: 20px;
}

.bestOffer {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 100px;
}

.newbest {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;

}

.smilingimg {
    /* background-image: url("/img/Group44.png");
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%; */
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 430px;

}

.smilingimg>img {

    width: 364.844px;
    height: 364.844px;
    
    padding-top: 40px;
    padding-left: 30px;
   
}

.happ {
    width: 140px;
    height: 140px;
}

.Commingsoon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 900;

    text-transform: capitalize;
}

.text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.section5 {
    margin-top: 50px;
    text-align: center;


}

.inside_section5 {
    text-align: center;
}

.functionl {
    color: #070211;
    font-family: Inter;
    font-size: 24px;

    font-weight: 500;

}

.holiday {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.textt {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    padding: 0px 270px;

}

.section6 {
    background-image: url("img/Rectangle2.png");
    width: 1320px;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 100px 100px;
    position: relative;
    height: 562px;

}


.box {
    position: absolute;

    /* padding-top: 10px; */

}

.box img {
    height: 600px;
    width: 600px;
    padding-top: 50px;
    padding-left: 20px;

}

.discount {
    position: absolute;
    z-index: +1;
}

.discount img {
    height: 300px;
    width: 300px;
    padding-left: 730px;
    padding-top: 100px;



}

.mam {
    position: absolute;
    padding-left: 896px;
    margin-top: -17px;

}

.section7 {
    margin-top: 100px;
    width: auto;
}

.caption {
    text-align: left;
    padding-left: 90px;
    width: 1320px;
    margin-bottom: 30px;
}

.heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
}

.texttt {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    text-align: left;

}

.picsec1,
.picsec2 {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 449px;

}

img {
    width: 424px;
    height: 450px;


}

.first:hover,
.second:hover,
.third:hover {
    box-shadow: 0px 0px 15px rgb(15, 0, 59);
    border-radius: 15px;
    cursor: pointer;
    /* transition: 1s; */

}

.picsec2 {
    margin-top: 24px;
}

.section8 {
    width: 1320px;
    height: 616px;
    background-color: rgb(255, 246, 234);
    margin: 120px auto;

}

.inside_section8 {
    display: grid;
    /* padding: 150px 200px; */
    justify-content: center;
    /* align-items: center; */
}

.email {
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 50px 0px 0px 400px;
}

.subscribe {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.textttt {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

.user {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FFF;
    width: 648px;
    height: 72px;
    border: none;
}

/* ::placeholder{
    padding-left: 30px;
} */
input {
    padding-left: 30px;
}

.subs {
    color: #FFF;
    background-color: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 210px;
    height: 72px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    border: none;
}

.footer_section {
    width: 1500px;
    height: 609px;
    background: #070211;
    color: white;

}

.footer_text {
    padding: 50px 90px;
    width: 1320px;
    display: flex;
    justify-content: space-between;
}

.hrr {
    width: 88%;
    margin: 0px auto;
    border: 1px solid rgb(62, 63, 57);
}

.firstfootertext {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}

.sndfootertext p>img {
    width: 24px;
    height: 24px;

}

.sndfootertext>p {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.imagediv {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;


}

.imgone>img {
    width: 64px;
    height: 64px;
}

.imgone>img:hover {
    box-shadow: 0px 0px 15px rgb(254, 254, 255);
    border-radius: 40px;
    transition: 1s;
    cursor: pointer;

}


.lastsection {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;

}

a {
    text-decoration: none;
    color: white;
}
.Unsubscribe{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 2px 10px;
}

.Unsubscribe:hover{
    border: 2px solid white;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    transition: 1s;
}